.nav{
    height:50px;
    background:#c00100;
}
.nav ul li{
    display: inline-block;
}
.nav ul{
    position:absolute;
    right:5px;
}
.nav ul li a{
    color:white;
    padding:5px;
}
.nav div{
    display: inline-block;
    position:absolute;
    left:0;
    padding:15px;
    font-size: 20px;
    color:white;
}
.services-content, .contact-content{
    margin:80px auto 0 auto;
    text-align: center;
}
.card-container ul{
    padding:0;

}
.card-container ul li{
    list-style:none;
    display: inline-block;
    margin:20px;
    width: 300px;
}
.card-container ul li p{
    text-align: justify;
}
.services-content h1, .contact-content h1{
    font-family: 'Roboto',sans-serif;
    color: red;
}
.card-container ul li p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: green;
}
.contact-content.address-holder{
    font-family: 'Lato', Impact;

}


.home{
    background:url("../images/img1.jpg");
    background-size: cover;
    height: 100vh;
}
.about-content{
    margin:150px auto 0 auto;
    width:500px;
}
.about-content h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: red;
    
}
.about-content p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: green;
    
} 
body{
    background-color: #dbf2dd;
}